// Text color when init new project
.text__black {
  color: var(--black);
}

.text__dark {
  color: var(--dark);
}

.text__white {
  color: var(--white);
}

.text__blue {
  color: var(--blue);
}

.text__gray {
  color: var(--gray);
}

.text__primary-text-color {
  color: var(--primary-text-color);
}

.text__secondary-text-color {
  color: var(--secondary-text-color);
}

.text__secondary-color {
  color: var(--secondary-color);
}

.text__header-text-table {
  color: var(--header-text-table);
}
