@use "tool" as *;

:root {
  --grid-gap-mobile-x: #{rem(16px)};
  --grid-gap-x: #{rem(24px)};

  // --primary-color: #c8ee44;
  --secondary-color: #29a073;
  --dark: #1b212d;
  --gray: #626260;
  --secondary-text-color: #929eae;
}

html[data-theme="light"] {
  --main-background: #fff;
  --bg-sidebar: #fafafa;

  --primary-text-color: #1b212d;
  --header-text-table: #929eae;

  --bg-card: #fafafa;
  --border-color: #f5f5f5;

  --black: #000;
  --white: #ffffff;
  --primary-color: #c8ee44;
  --blue: #0000ff;
}

html[data-theme="dark"] {
  --main-background: #1c1a2e;
  --bg-sidebar: #1e1c30;

  --primary-text-color: #fff;
  --header-text-table: #78778b;

  --bg-card: #201e34;
  --border-color: #282541;
  --black: #1a1a1a;
  --white: #f0f0f0;
  --primary-color: #c8ee44;
  --blue: #5a8cff;
}
