@use "tool" as *;

:root {
  --grid-gap-mobile-x: #{rem(16px)};

  --grid-gap-x: #{rem(24px)};

  --white: #ffffff;
  --blue: #0000ff;

  --primary-color: #c8ee44;
  --secondary-color: #29a073;
  --primary-text-color: #1b212d;
  --secondary-text-color: #929eae;
  --gray: #fafafa;
  --dark: #1e1c30;
  --black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #00bfff;
    --black: #1a1a1a;
    --white: #f0f0f0;
  }
}
